@model IEnumerable<CareerCommon.CareerViewModels.JobsViewModel>
@foreach (var item in Model)
{
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold"><a asp-action="GetJobById" asp-route-jobId="@item.ID" asp-controller="Job" style="text-decoration:none;color:forestgreen">@item.Title</a></div>
            @item.IndustryName
            <br />
            @item.ProfessionName
            <br />
        </div>
        <div>
            @Html.DisplayFor(model => item.PostedDate)
            <div class="d-flex justify-content-end">
                <br />
                @Html.DisplayFor(model => item.UserName)
            </div>
        </div>
    </li>
}